.inputContainer {
  width: 50%;
  height: 30%;
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.form-control {
  width: 50%;
}

#submitButton {
  margin-top: 2vh;
  width: 50%;
  height: 3vh;
  padding-top: 0vh;
}

#creditsLabel {
  margin-top: 30vh;
  font-family: "Lato";
  font-size: 1.5vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
